# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env
.env.test


# Gatsby files
.cache/

# Large media files
*.mp3
*.wav
*.ogg
*.webm
*.mp4
*.mov
*.flv
*.avi
*.mkv

# VS Code directories and files
.vscode/
.history/